# Misc
logs/
*.zip
*~
*.lock

# Project
node_modules/
public/
target/

# Mac
.DS_Store

# JetBrains
.idea/*
.fleet/*
*.iws
*.iml

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
